.banking{
    
    font-size: 45px;
    font-weight: bold;
    margin-top: -56px;
    color : orangered;
}

/* .banking:: after{
    
    content: "";
    width: 64px;
    border-bottom: 5px solid #ffc000;
    display: block;
    padding-bottom: 15px;
} */
.become{
    margin-right: 878px;
    font-size: 20px;
    color: rgb(212, 21, 21);
    margin-top: -10px;
}
.service_name{
    color: #0c4696;
    
    line-height: 28px;
    font-family: Cera Pro;
    font-size: 23px;
    font-weight: 32px;

}

.section-title-dashed:after {
    content: "";
    width: 64px;
    border-bottom: 5px solid #ffc000;
    display: block;
    padding-bottom: 15px;
}

.section-title-dashed {
    position: relative;
    font-family: Cera Pro;
    font-size: 2.25em;
    line-height: 40px;
    font-weight: 700;
    color: #1c539e;
}

.partners{
    font-size: 34px;
    font-weight: bold;
    color: orangered;
    margin-top: 34px;
}
.partnerss{
    font-size: 34px;
    font-weight: bold;
    color: white;
}
.itis{
    color: whitesmoke;
    margin-top: 20px;
}

.vrline {
    border-left: 4px solid #fc4a1a;
    line-height: 133%;
    padding-left: 2%;
}



.vrlines {
    border-left: 4px solid white;
    line-height: 123%;
    padding-left: 2%;
}

.txs{
    font-size: 22px;
    font-weight: bold;
    margin-top: 34px;
    color: orangered;
}

.distri{
    
    color: black;
    font-family: Cera Pro;
    font-size: 1.125em;
    line-height: 26px;
}
.distributors{
    margin-top: 12px;
    font-size: 1.625em;
    line-height: 36px;
    font-weight: bold;
}

.set-up{
    font-size: 1.25em;
    line-height: 28px;
    font-family: Cera Pro;
    font-weight: 700;
    margin-top: 22px;
}

/* testing purpose  */
.my-testing-dashed {
    position: relative;
    font-size: 2.15em;
    line-height: 40px;
    font-weight: 700;
    color: #1c539e;
}

.my-testing-dashed:after {
    content: "";
    width: 64px;
    border-bottom: 5px solid orangered;
    display: block;
    padding-bottom: 15px;
}


.advantage{
    font-size: 2.25em;
    line-height: 28px;
    font-family: Cera Pro;
    margin-left: 324px;
    margin-top: 23px;
    font-weight: 700;
    color: orangered;
}

.customer{
    font-size: 23px;
    color: #0c4696;
    font-family: Cera Pro;
    font-weight: 700;
}
.cuso{
    margin-left: 52px;
}
.play-button{
    margin-top: -245px;
    margin-left: 234px;

}
.card4 {
    box-shadow: 0 2px 30px rgb(0 0 0 / 8%);
    border-radius: 0;
    padding: 22px 20px;
    background: #fff;
    margin-top: 56px;
    width: 75%;
    float: left;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #D07610;
    min-height: 180px;
    transition: 2s ease;
    margin-bottom: 10%;
}

.section-title {
    margin-bottom: 38px;
    margin-top: 22px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 44px;
    color: orangered;
    
}

.our-team{
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #17bebb;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #17bebb;
    border: 1px solid #17bebb;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

.products{
    margin-left: 400px;
    font-weight: bold;
    color: #D07610;
}

/* exp start here  */

.c-services {
    float: left;
    width: 100%;
    margin-top: 3em;
    /* overflow: hidden; */
}

.nopad {
    /* padding-left: 0px; */
    padding-right: 0px;
}
.c-points .col-md-3 {
    padding: 0 5px;
}
.c-points .col-md-3 {
    padding: 0 5px;
}

.col-xs-3 {
    width: 25%;
}
.sol-set {
    float: left;
    width: 100%;
    background: linear-gradient(129.16deg, #FCFCFF 2.09%, #EFF2F8 100%);
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 1em;
    height: 130px;
}
@media (min-width: 992px)
.col-md-3 {
    width: 25%;
}
.sol-set {
    float: left;
    width: 100%;
    background: linear-gradient(129.16deg, #FCFCFF 2.09%, #EFF2F8 100%);
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 1em;
    height: 130px;
}
.col-xs-9 {
    width: 75%;
}
.setimg {
    text-align: center;
    padding: 1em 0;
}
.sol-set h5 {
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    margin-top: 14px;
}
.sol-set img {
    padding: 10px;
    background-color: #00366E;
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}
.c-services p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.aiepss {
    max-width: 490px;
    margin-top: 52px;
    width: 100%;
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
}

.aadhar{
    margin-left: 216px;
    max-width: 350px;
    width: 100%;
}

.card-frame {
    border: 0.0625rem solid #e7eaf3;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .3s;
    transition: .3s;
}


.avatar-xs {
    width: 1.75rem;
    height: 1.75rem;
}

  .text-muted {
    color: #8c98a4!important;
}

.avatar-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.3125rem;
}
.apis{
    /* color: #0052cc!important; */

    color: orangered!important;
    text-align: center;
    font-weight: bold;
}

.features-header {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Open Sans',sans-serif;
    color: #0052cc;
}

.bg-gray {
    background-color: #f9f9f9;
}
.site-heading h2 {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.site-heading h2 span {
    color: orangered;
}
.site-heading h4 {
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}
.site-heading h4::before {
    background: #00a01d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
}
.carousel-shadow .owl-stage-outer {
    margin: -15px -15px 0;
    padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    height: 15px;
    margin: 0 5px;
    width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
    background: #00a01d none repeat scroll 0 0;
    border-color: #00a01d;
}

.we-offer-area .item {
    background: #ffffff none repeat scroll 0 0;
    border-left: 2px solid #00a01d;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.we-offer-area.text-center .item {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
    background: #F36C42 none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
    z-index: 1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
    border: 2px solid #2882E7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 90px;
    z-index: -1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
    border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
    margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    right: 30px;
    top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
    background: #00a01d none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
    color: #ffffff;
}

.we-offer-area .item i {
    color: #F36C42;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 20px;
}

.we-offer-area .item h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.we-offer-area .item p {
    margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
    /* background: #E73328 none repeat scroll 0 0; */
    background: #F37335;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 100%;
    z-index: -1;
}

.we-offer-area .item:hover::after {
    left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
    color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
    border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
    background-color: #ffffff !important;
    color: #00a01d !important;
}

.we-offer-area.text-left .item i {
    background: #F36C42 none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    position: relative;
    width: 100px;
    z-index: 1;
    text-align: center;
}

.we-offer-area.text-left .item i::after {
    border: 2px solid #00a01d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
}

/* tabpan code start here  */

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}



.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.font-italic{
    color: orangered;
}

